*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

header{
    width: 100%;
    background-color: #F8EFEA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.logo-imagem{
width: 150px;
height: 120px;
}

.container-logo{
    display: flex;
    align-items: center;
}

.logo-texto{
    text-align: center;
    font-size: 27px;
    margin: 0 600px;
    color: #B77323;
}

.login li{
    display: inline-block;
}
.login li a{
    font-size: 30px;
    text-decoration: none;
    color: #B77323;
    padding: 10px 25px;
    border-radius: 10px;
}
.login li a:hover{
    background-color: rgba(58, 40, 0, 0.2);
}

.menu li{
    display: inline-block;
}
.menu li a{
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: #FF7A00;
    padding: 0px 150px;
}

.titulo-texto{
    text-align: center;
    font-size: 27px;
    color: #FF7A00;
    padding: 70px 0px;
}

.texto-explicativo{
    text-align: center;
    font-size: 20px;
    color: #B77323;
    padding: 0px 170px;
}

.titulo-generos{
    text-align: center;
    font-size: 27px;
    color: #FF7A00;
    padding: 70px 0px;
}

.genero-imagem{
    width: 230px;
}

.genero-div{
    text-align: center;
    padding: 16px 0;
}

.genero-todos{
    display: grid;
    grid-template-columns: 16.5% 16.5% 16.5% 16.5% 16.5% 16.5%;
}

.noticias-titulo{
    text-align: center;
    font-size: 27px;
    color: #FF7A00;
    padding: 70px 0px;
}

#dov{
    display: flex;
    justify-content: center;
}